*{
    margin : 0;
    padding : 0;
    box-sizing : border-box;
}

html, body{
    height : 100%;
    width : 100%;
    
}
h1{
    color : aqua;
    background-color: black;
    font-size: 100px;
    font-family: 'Monument Extended', sans-serif;
    font-weight: 200;
    position: absolute;
    top: 50%;
    left : 50%;
    transform : translate(-50%,-50%);
}
h2{
    color : red;
    background-color :aqua;
}

#box{
    width : 200px;
    height : 200px;
    background-color : black;
    color : white;
    position : absolute;
    top : 50%;
    left : 50%;
    transform : translate(-50%,-50%);
    padding : 30px ;

}

#parent{
    width : 100%;
    height : 100%;
     background-color : black; 
    color : burlywood;

     display : flex; 
        align-items : center; /*vertical alignment */
        justify-content: space-between; /*horizontal alignment */
}

#child1{
    background-color : red;
    width : 200px;
    height : 200px;
}
#child2{
    color: rgb(199, 16, 46);
    background-color : aqua;
    width : 200px;
    height : 200px;
   
}
#child3{
    color : black;
    background-color : yellow;
    width : 200px;
    height : 200px;
   
}                           